.course-detail{
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .header{
    display: flex;
    width: auto;
    
  }

  .content-container{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    .tc{
      margin-right: 30px;
    }
  }



  
}
.tttoc{
  display: flex;
  flex-direction: column;
  width: 100%;
  // margin: -15px 0px 0px 30px;
  
}
.writecomment{
  display: flex;
}