.movecategory {
  display: flex;
  flex-direction: column;
  

  .select {
    width: 25px;
    height: 25px;
    margin: 18px;
    
    
  }

  h2 {
    width: auto;
    height: 25px;
    margin :20px; // Add spacing between select and heading
  }

  hr {
    border: 1px solid black; 
    
    margin: 20px 0;
    width: 100%;
  }

  .paging {
    margin :20px; // Push the paging component to the bottom
    display: flex;
    align-items: center;
  }
  .gridlecture{
    
    margin: 5px;
  }

  
}